@use '../../../../styles.scss';

.card__row {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 12px;
  align-items: start;
}

.media__img {
  width: 200px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  &--placeholder {
    background-color: #e9e5e1;
    border-radius: 8px;
  }
}

.item__tags {
  display: flex;
  gap: .5rem;
  margin-top: .5rem;
  flex-wrap: wrap;
}

.item__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}
.item__title { margin: 0; }

.item__intro { margin: .25rem 0 .5rem; }

.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item__meta {
  font-size: .9rem;
  color: #555;
  margin-top: .5rem;
}



