<div class="card card__row">
  <!-- 左側：圖片 -->
  <div class="media">
    <ng-container *ngIf="item.images.length > 0; then thenTemplate; else elseTemplate"></ng-container>
    <ng-template #thenTemplate>
      <img class="media__img"
           [src]="item.images[0].src || 'assets/image/image_default.svg'"
           [alt]="item.name || '圖片'"
           width="220"
           height="220" />
    </ng-template>
    <ng-template #elseTemplate>
      <img class="media__img--placeholder"
           [src]="'assets/image/image_default.svg'"
           [alt]="'圖片'"
           width="220"
           height="220" />
    </ng-template>
  </div>

  <!-- 右側：標題/介紹/分類/編輯/checkbox -->
  <div class="content">
    <div class="item__head">
      <h3 class="item__title">{{ item.name }}</h3>
    </div>

    <div class="item__tags">
      <span class="badge" *ngFor="let tag of item.category">{{ tag.name }}</span>
    </div>

    <p class="item__intro clamp-3">
      {{ item.introduction || '（無介紹）' }}
    </p>

    <div class="item__meta">
      <div>地址：{{ item.address || '-' }}</div>
      <div>電話：{{ item.tel || '-' }}</div>
    </div>

    <div class="edit">
       <!-- 勾選我的最愛 -->
      <label class="favorite-toggle">
        <input
          type="checkbox"
          [checked]="selected"
          (change)="onToggleChange($event)" />
        <span class="custom-checkbox"></span>
        <span class="label-text">{{ isEdit ? '移除我的最愛' : '加至我的最愛' }}</span>
        <ng-container *ngIf="isFav">
          <span class="star">★</span>
        </ng-container>
      </label>
       <!-- 編輯 -->
      <button *ngIf="isEdit" class="btn btn--primary" (click)="onToggleEdit($event)">編輯</button>
    </div>



  </div>
</div>
